:root {
    /* Declare custom properties here */
    --main-color: #123123;
}

* {
    font-family: 'Rajdhani', --apple-system, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content-l {
    width: 600px;
    background-color: #c5f9d7;
}

.content-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Form */

.form-input-head {
    width: min(600px, 100%);
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 90px;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 400;
}

.form-main {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min(600px, 100%);
    height: 210px;
}
label {
    color: #8e8e8e;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 6px;
    font-weight: 400;
    transition: all 0.5s;
}

label.valid-label {
    color: #8cb369;
    transition: all 0.5s;
}


input {
    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    transition: all 0.5s;
}

input:focus {
    outline: none;
}

input.valid-input {
    color: #8cb369;
    border-color: #8cb369;
    transition: all 0.5s;
}

.input-area {
    height: 70px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-area-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.submit-box {
    /* outline: 1px solid red; */
    height: 70px;
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 70px;
}

/* .submit-btn {
    height: 40px;
    width: 120px;
} */

/* CSS */
#submit-btn {
    background-color: #c5f9d7;
    border-radius: 10px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 40px;
    width: 200px;
}

#submit-btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.submit-alt {
    margin-top: 24px;
    font-size: 0.8rem;
}

/* Footer */
.footer {
    flex: 1;
    background-color: #eeeeee;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}


