:root {
    /* Declare custom properties here */
    --main-color: #123123;
}

* {
    font-family: 'Rajdhani', --apple-system, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content-l {
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Form */

.form-input-head {
    width: min(600px, 100%);
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 90px;
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.form-main {
    background-color: #494cf3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min(600px, 100%);
    height: 240px;
}
label {
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 6px;
    font-weight: 400;
    transition: all 0.5s;
}

label.valid-label {
    color: #caffbf;
    transition: all 0.3s;
}

label.invalid-label {
    color: #ffadad;
    transition: all 0.3s;
}


input {
    width: 200px;
    height: 20px;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 0.9rem;
    transition: all 0.3s;
    background-color: #494cf3;
    font-size: 1rem;
}

input:focus {
    outline: none;
}


input.valid-input {
    border: none;
    border-bottom: 1px solid  #caffbf;
    transition: all 0.3s;
}

input.invalid-input {
    border: none;
    border-bottom: 1px solid #ffadad;
    transition: all 0.3s;
}

.input-area {
    height: 80px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-area-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.submit-box {
    /* outline: 1px solid red; */
    height: 70px;
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 70px;
}


#submit-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fe7062;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: #fe7062;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#submit-btn:hover {
  transform: translateY(-3px);
}

#submit-btn:active {
  background-color: #fe7062;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.submit-alt {
    margin-top: 24px;
    font-size: 0.8rem;
    color: white;
}

a, a:visited {
    color: white;
}

/* Overlay success signup */
.sign-up-success {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
    background-color: #494cf3;
}

.sign-up-success > .shape {
    width: 100%;
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: 1;
    /* box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px; */
    -webkit-filter: drop-shadow( 0px 8px 24px rgba(149, 157, 165, 0.4));
    filter: drop-shadow( 0px 8px 24px rgba(149, 157, 165, 0.4));
}

.signed-up-visual {
    width: 700px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
}

.signed-up-visual > img {
    width: 69%;
}


.signed-up-text {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 2;
}

.success-text {
    color: white;
    font-size: 32px;
}

.disabled {
    display: none;
}

/* Footer */
.footer {
    flex: 1;
    background-color: #eeeeee;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
}


